nav {
    /* background: var(--bg-nav-1); */
    background: transparent; /* Колір фону навігаційної панелі 1 */
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav.topfixed {
    background: var(--bg-nav-1);
    position: fixed;
}

/* nav::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform .1s ease;
} */

nav.topfixed::before {
    transform: none;
}

.navbar {
    display: flex;
    justify-content: space-between;     /* Схема вирівнювання лого та меню (desktop) по основній осі (main axis) */
    align-items: center;                /* Схема вирівнювання лого та меню (desktop) по додатковій осі (cross axis) */
    margin-left: auto;                  /* Центрування блоку всередині nav по-горизонталі */
    margin-right: auto;                 /* Центрування блоку всередині nav по-горизонталі */
    max-width: var(--max-width);        /* Ширина .nav-inside не більше 1280px */
    padding: var(--mob-padding);        /* Внутрішні відступи */
    position: relative;
    transition: all .3s ease-in-out;
}

.topfixed .navbar {
    justify-content: space-between;     /* Схема вирівнювання лого та меню (desktop) по основній осі (main axis) після прокрутки */
    /* border-bottom-left-radius: var(--bord-radius); */
    /* border-bottom-right-radius: var(--bord-radius); */
    /* background-image: url(../img/image-in-top.jpg); */
    /* background-color: rgba(10,10,10,.5); */
    /* background-blend-mode: multiply; */
    /* background-size: cover; */
    padding-top: 12px;      /* Внутрішні відступи після прокрутки */
    padding-bottom: 12px;   /* Внутрішні відступи після прокрутки */
}

.logo {
    display: flex;
    width: var(--logo-width);
    line-height: .7;
    transform: scale(1);
    transform-origin: left center;
    align-items: center;    /* Вирівнювання по додатковій осі */
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.logo img {
    max-width: 50%;
    height: auto;
}

.logo:hover {
    text-decoration: none;
}

.topfixed .logo {
    transform: scale(.8);
    opacity: 1;
    display: flex;
}

.logo img {
    margin-right: 15px;
}

.logo span {
    color: var(--logo-color-1);
    font-size: .8rem; /* 0.85 * font-size body */
    line-height: 1.4;
    letter-spacing: .035em;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 80px;
}

nav .navbar {
    overflow: visible;
}

.nav-icon {
    display: none;
    z-index: 99;
}

.navigation a {
    display: block;
    color: var(--nav-color-1);  /* Основний колір меню */
    font-size: .9rem;           /* Розмір тексту меню */
    font-weight: 600;           /* Накреслення тексту меню */
    letter-spacing: .025em;
    padding: 8px 0 18px;
    margin-left: 32px;
    text-decoration: none;
    position: relative;
    transition: all .3s ease;
}

.navigation a:hover {
    color: var(--nav-color-2); /* Основний колір меню (hover) */
}

.topfixed .navigation a {
    color: var(--nav-color-3); /* Колір меню після прокрутки */
}

.topfixed .navigation a:hover {
    color: var(--nav-color-4); /* Колір меню (hover) після прокрутки */
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    display: inline-block;
    vertical-align: middle;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.overlay {
    background-color: #333;
    opacity:.3;
    position: absolute;
    left:0; top:0;
    width:100dvw;
    height:100dvh;
}


/* Стилі хедер */
nav {
    background: var(--white-25, #FCFCFD);
    box-shadow: 0px 2px 10.1px rgba(0, 31, 50, 0.41);
    padding: 0 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
}

/* Ліва частина: логотип + текст */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 16px; /* Відступ між логотипом і текстом */
}

.logo img {
    height: 32px; /* Розмір логотипу */
}

/* Стиль теглайну */
.tagline {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    color: var(--txt-color-2, #3A3A3A);
}

/* Меню навігації */
.navigation {
    display: flex;
    align-items: center;
    gap: 32px;
}

.level_1 {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-size: 16px !important;
    font-weight: 500;
    text-decoration: none;
    color: var(--txt-color-1, #1D1D1F);
    transition: color 0.3s ease;
    margin-top: 10px;
}

.nav-link:hover {
    color: var(--primary-color, #0056B3);
}

/* Кнопка "Додати місце" */
.add-place-btn {
    background: var(--btn-bg, #0B0E15);
    color: var(--txt-color-1) !important;
    font-size: 1rem /* Збільшуємо розмір шрифту */ !important;
    display: inline-block;
    padding: 8px 8px !important; /* Збільшуємо відступи для кращої форми */
    border-radius: 30px; /* Робимо закруглення ще більш плавним */
    text-decoration: none;
    width: 155px;
    text-align: center;
    
}

.add-place-btn:hover {
    background: var(--btn-hover, #1A1D26);
}

/* Мобільне меню */
.nav-icon {
    display: none; /* Ховаємо бургер-меню на десктопі */
}

/* Стилі хедер */

@media screen and (max-width: 767px) {

    .navbar {
        justify-content: space-between;
    }

    .navigation ul {
        background-color: var(--bg-nav-2);
        display: flex;
        flex-direction: column;
        visibility: visible;
        justify-content: flex-start;
        align-items: flex-start;
        width: 70vw; /* 70% from Viewport width */
        height: 100dvh; /* 100% Dynamic viewport height */
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 80px;
        transform: translateY(-100%);
        transition: transform .35s ease;
    }

    .open .navigation ul {
        transform: translateY(0);
    }

    .open ul li {
        /* display: block; */
        width: 100%;
        border-bottom: 1px solid #444;
        margin-left: 0;
    }

    .open ul a {
        color: var(--nav-color-3);  /* Основний колір мобільного меню */
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .open ul a:hover {
        color: var(--nav-color-4);  /* Основний колір мобільного меню (hover) */
    }
}